.animate__animated.animate__lightSpeedInRight{
  --animate-duration: 1s;
}
.animate__animated.animate__lightSpeedInLeft{
  --animate-duration: 1s;
}
.containter
{
    margin-top: 15%;
        
}
.menu
{
    color: black
    
}
.menu:hover
{
    color: black
}
/*.logo
{

    color: white;
    width: 500px; 
    height: 100px;
    background: black;
    border-radius:50%;
}
@keyframes logo
{
    from
    
}*/